@font-face 
    font-family: 'Open Sans Semibold'
    src: url('../fonts/OpenSans-SemiBold.eot')
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    

@font-face 
    font-family: 'Open Sans Bold'
    src: url('../fonts/')
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype')
    font-weight: normal;
    font-style: normal;
    

@font-face 
    font-family: 'Open Sans Regular'
    src: url('../fonts/')
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
     

@font-face 
    font-family: 'Open Sans ExtraBold'
    src: url('../fonts/OpenSans-ExtraBold.eot')
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    

        
@font-face 
    font-family: 'Poppins Regular'
    src: url('../fonts/Poppins-Regular.eot')
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
     

@font-face 
    font-family: 'Poppins Medium'
    src: url('../fonts/')
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    

@mixin regular 
    font-family: "Open Sans", sans-serif
