
    
* 
    box-sizing: border-box
    padding: 0
    margin: 0
    text-decoration: none
    list-style: none
    font-family: 'Poppins Regular'
    font-style: sans-serif
    color: #cccccc

    
    


.container
    max-width: 1180px
    margin: auto
    


