.header_dark
    background-color: $main-dark
.block-info__logo img
    height: 90px
.block-info
    display: flex
    flex-flow: row wrap
    align-items: center
.block-info__logo-text
    margin-right: auto
.block-info__text
    margin-left: 40px
.block-info__social
    display: flex
    flex-flow: row wrap
    margin-left: 40px
.text__title
    
    color: #cccccc
    font-size: 22px
    
.text__up,
.text__phone
    
    color: #cccccc
.text__down
    padding-top: 10px
    color: #727272
    font-size: 16px
    
.social__item
    align-self: center
    border: 1px solid #ffffff
    border-radius: 50%
    width: 37px
    height: 37px
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10px
.social__item a
    display: flex
    justify-content: center
    align-items: center
    
.text__title
    font-family: 'Poppins Medium'

//навигация
.block-nav
    display: flex
    flex-flow: wrap row
    justify-content: space-between
    background-color: $primary-color
.navbar
    display: flex
    flex-flow: wrap row
.navbar__item
    padding: 25px 15px 25px 15px
    font-size: 20px
    line-height: 20px
.btn-form
    padding: 25px 15px 25px 0
    font-size: 20px
    line-height: 20px
    
